USE [master]
GO
/****** Object:  Database [CVFormTask]    Script Date: 10/30/2020 11:10:28 PM ******/
CREATE DATABASE [CVFormTask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CVFormTask', FILENAME = N'C:\Users\compucity\Documents\MSSQL15.MSSQLSERVER\MSSQL\DATA\CVFormTask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CVFormTask_log', FILENAME = N'C:\Users\compucity\Documents\MSSQL15.MSSQLSERVER\MSSQL\DATA\CVFormTask_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CVFormTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CVFormTask]
GO
/****** Object:  User [test]    Script Date: 10/30/2020 11:10:28 PM ******/
CREATE USER [test] FOR LOGIN [test] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [myLogin]    Script Date: 10/30/2020 11:10:28 PM ******/
CREATE USER [myLogin] FOR LOGIN [myLogin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [test]
GO
ALTER ROLE [db_owner] ADD MEMBER [myLogin]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 10/30/2020 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](150) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[Age] [int] NOT NULL,
	[Area] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Address] [varchar](max) NOT NULL,
	[CV] [varchar](max) NOT NULL,
	[Image] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Candidates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
